*{
    margin:0;
    padding: 0;

}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: #e9620e;
}

.logo{
    display: flex;
    color: rgb(5, 4, 3);
    margin-right:800px;
}


.lupa-carrinho{
    display: flex;
    align-items: center;
    justify-items: flex-end;
    float: right;
   
}

.lupa-carrinho a img{
    align-items: center;
    width: 20px;
    height: auto;
    margin-left: 20px;
}

.lupa-carrinho input {
    background-color:white;
    position: relative;
    left: 0;
    color: rgb(1, 1, 1);
    padding: 7px;
    margin: 10px;
    border-radius: 20px;
}